
@import "~font-awesome/scss/font-awesome.scss";
//you can import _vender and _theme without absolute paths, because you have includPaths thing in webpack.config.js
@import "_vendor";
@import "_theme";

$app-purple: #7a7aff;
$app-green: #77ffaa;
$app-orange: #FF7F5F;


body {
  background-color: $app-purple;
  text-align: center;
}

a {
  text-decoration: none;
  color: $app-green;
}

ul {
  list-style: none;
}


i {
  margin: 25px 5px;
}

.app-green-border {
  border: 8px solid green;
}

.app-red-border input {
  border: 8px solid red;
}

.app-orange-bg {
  background-color: $app-orange;
}

.app-green-bg {
  background-color: $app-green;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
